In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

In [2]:
df0 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.000.csv")
df1 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.001.csv")
df2 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.002.csv")
df3 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.003.csv")
df4 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.004.csv")
df5 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.005.csv")
df6 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.006.csv")
df7 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.007.csv")
df8 = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Parking_Tags_Data_2019.008.csv")
df = pd.concat([df0,df1,df2,df3,df4,df5,df6,df7,df8], axis=0, ignore_index=True)

In [38]:
#Delete instances with no 
print(df.shape)
df =df[df['location2'].isna()==False]
print(df.shape)

(2213939, 11)
(2213765, 11)

In [42]:
df = df[df['location2'].apply(lambda x: x.isdigit()==False)]
df = df[df['location2'].apply(lambda x: x.find(" ")==-1)==False]
print(df.shape)

(2213749, 11)

In [51]:
print(df.shape)

(2213689, 11)

In [52]:
addresses = df['location2']
addresses.head()

0          2110 KEELE ST
1    125 QUEENS WHARF RD
2          HAZELWOOD AVE
3         10 CARABOB CRT
4    1801 EGLINTON AVE W
Name: location2, dtype: object

In [53]:
streets_of_interest = pd.read_csv("C:\\Users\\stefy\\OneDrive - University of Waterloo\\Work Term Report 3 - Parking\\Datasets\\Toronto\\Toronto Centerline\\CENTRELINE_WGS84.csv")
streets_of_interest = streets_of_interest[streets_of_interest['LINEAR_NAME_FULL']!= 'Planning Boundary']
streets_of_interest = streets_of_interest[streets_of_interest['LINEAR_NAME_FULL']!= 'C N R']
streets_of_interest = streets_of_interest[streets_of_interest['LINEAR_NAME_FULL']!= 'C P R']
streets_of_interest = streets_of_interest[streets_of_interest['LINEAR_NAME_FULL']!= 'Toronto Shoreline']

streets_of_interest.head(3)

,CENTRELINE_ID,LINEAR_NAME_ID,LINEAR_NAME_FULL,LINEAR_NAME_FULL_LEGAL,ADDRESS_L,ADDRESS_R,PARITY_L,PARITY_R,LO_NUM_L,HI_NUM_L,...,TO_INTERSECTION_ID,ONEWAY_DIR_CODE,ONEWAY_DIR_CODE_DESC,FEATURE_CODE,FEATURE_CODE_DESC,JURISDICTION,CENTRELINE_STATUS,OBJECTID,MI_PRINX,Shape__Length
0,14025592,3147,Charlotte St,Charlotte Street,NaN,NaN,N,N,NaN,NaN,...,14025595,0,Not One-Way,201500,Local,CITY OF TORONTO,NaN,18733,18733,6.292203
1,1146472,4733,Yonge St,Yonge Street,NaN,NaN,N,N,NaN,NaN,...,13467668,0,Not One-Way,201200,Major Arterial,CITY OF TORONTO,NaN,18852,18852,6.219553
3,20054575,436,Bathurst St,Bathurst Street,NaN,NaN,N,N,NaN,NaN,...,20054577,0,Not One-Way,201200,Major Arterial,CITY OF TORONTO,NaN,50548,50548,4.816115

In [ ]:
streets_of_interest_list = streets_of_interest['LINEAR_NAME_FULL'].unique()
streets_of_interest_list

In [ ]:
delimited_rows = list()
for street in streets_of_interest_list:
    for index, row in df.iterrows():
        address = row['location2']
        try:
            if address.find(street)>-1:
                delimited_rows.append(row)
                print(address)
        except:
            print(address)
        
delimited_df = pd.DataFrame(delimited_rows, columns=df.columns)

In [33]:
"Toronto".find("te")git

-1