In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

In [65]:
census_dir = "C:\\Users\\stefy\\OneDrive - University of Waterloo\Work Term Report 3 - Parking\\Datasets\\Toronto\\Census Tracts\\"
census_file = 'population and dwelling units per DA _ TTS zone_area.csv'
dwell_pop = pd.read_csv(census_dir+census_file)

In [66]:
dwell_pop.head(3)

,DAUID,CTUID,CTNAME,Census_dis,Census_d_1,Census_pri,Census_d_2,Census_lat,Census_lon,Total priv,gta06,Cut TTS ar,ID,DA Area,DAUID_2,DA Area_2
0,35204018,5350036.00,36.00,544,400,337,0.0266,43.652141,-79.389495,400,67,115279,1,115279,35204018,115279
1,35204655,5350012.04,12.04,0,0,0,0.0051,43.639225,-79.384997,0,62,50329,2,50329,35204655,50329
2,35204656,5350012.01,12.01,0,0,0,0.0062,43.637729,-79.394433,0,80,51075,3,51075,35204656,51075

In [67]:
dwell_pop['DA Area Fraction'] = dwell_pop['DA Area']/dwell_pop['DA Area_2']

In [68]:
dwell_pop[dwell_pop['DA Area']!= dwell_pop['DA Area_2']].head()

,DAUID,CTUID,CTNAME,Census_dis,Census_d_1,Census_pri,Census_d_2,Census_lat,Census_lon,Total priv,gta06,Cut TTS ar,ID,DA Area,DAUID_2,DA Area_2,DA Area Fraction
12,35204898,5350013.02,13.02,957,688,577,0.0910,43.642123,-79.371451,688,32,39673,79,39673,35204898,225537,0.175905
14,35200855,5350014.00,14.00,5,0,0,0.0422,43.648103,-79.384042,0,57,151499,19,151499,35200855,472661,0.320524
15,35200855,5350014.00,14.00,5,0,0,0.0422,43.648103,-79.384042,0,55,186300,86,186300,35200855,472661,0.394151
16,35200855,5350014.00,14.00,5,0,0,0.0422,43.648103,-79.384042,0,54,75359,87,75359,35200855,472661,0.159436
17,35200855,5350014.00,14.00,5,0,0,0.0422,43.648103,-79.384042,0,56,59503,88,59503,35200855,472661,0.125889

In [69]:
dwell_pop = dwell_pop.rename(columns={"Census_dis":'DA_population','Census_d_1':'DA_Total_priv_dwell','Census_pri':'Private_Dwellings_usual_residents','Census_d_2':'DA Land Area','Total priv':'Total_priv_dwell_int'})
dwell_pop.columns

Index(['DAUID', 'CTUID', 'CTNAME', 'DA_population', 'DA_Total_priv_dwell',
       'Private_Dwellings_usual_residents', 'DA Land Area', 'Census_lat',
       'Census_lon', 'Total_priv_dwell_int', 'gta06', 'Cut TTS ar', 'ID',
       'DA Area', 'DAUID_2', 'DA Area_2', 'DA Area Fraction'],
      dtype='object')

In [76]:
# dwell_pop = dwell_pop.drop(['DAUID', 'CTUID', 'CTNAME', 'DA Land Area', 'Census_lat', 'Census_lon','Cut TTS ar', 'ID', 'DAUID_2'], axis=1)
dwell_pop.head(50)

,DA_population,DA_Total_priv_dwell,Private_Dwellings_usual_residents,Total_priv_dwell_int,gta06,DA Area,DA Area_2,DA Area Fraction,Total_priv_dwell
0,544.000000,400,337,400,67,115279,115279,1.000000,400.000000
1,0.000000,0,0,0,62,50329,50329,1.000000,0.000000
2,0.000000,0,0,0,80,51075,51075,1.000000,0.000000
3,0.000000,0,0,0,34,121459,121459,1.000000,0.000000
4,1113.000000,698,654,698,60,23283,23283,1.000000,698.000000
5,1028.000000,759,698,759,66,88170,88170,1.000000,759.000000
6,463.000000,422,345,422,66,82329,82329,1.000000,422.000000
7,0.000000,0,0,0,66,117201,117201,1.000000,0.000000
8,1042.000000,816,680,816,65,71845,71845,1.000000,816.000000
9,0.000000,0,0,0,65,159696,159696,1.000000,0.000000
10,40.000000,16,16,16,78,118643,118643,1.000000,16.000000
11,372.000000,310,293,310,34,58670,58670,1.000000,310.000000
12,168.340720,688,577,688,32,39673,225537,0.175905,121.022378
13,0.000000,0,0,0,60,56658,56658,1.000000,0.000000
14,1.602618,0,0,0,57,151499,472661,0.320524,0.000000
15,1.970757,0,0,0,55,186300,472661,0.394151,0.000000
16,0.797178,0,0,0,54,75359,472661,0.159436,0.000000
17,0.629447,0,0,0,56,59503,472661,0.125889,0.000000
18,61.000000,45,45,45,67,29395,29395,1.000000,45.000000
19,409.000000,316,292,316,67,28487,28487,1.000000,316.000000
20,445.000000,286,272,286,67,61107,61107,1.000000,286.000000
21,167.000000,99,84,99,67,34564,34564,1.000000,99.000000
22,99.000000,40,36,40,76,108855,108855,1.000000,40.000000
23,59.000000,9,7,9,75,40624,40624,1.000000,9.000000
24,148.000000,105,103,105,36,33576,33576,1.000000,105.000000
25,253.000000,92,85,92,75,77109,77109,1.000000,92.000000
26,123.000000,58,55,58,75,58181,58181,1.000000,58.000000
27,141.000000,60,55,60,67,33293,33293,1.000000,60.000000
28,0.000000,0,0,0,67,81305,81305,1.000000,0.000000
29,687.000000,246,223,246,76,32229,32229,1.000000,246.000000
30,72.000000,17,16,17,76,37788,37788,1.000000,17.000000
31,177.000000,52,51,52,76,34957,34957,1.000000,52.000000
32,23.000000,18,14,18,76,33025,33025,1.000000,18.000000
33,284.000000,97,94,97,76,47694,47694,1.000000,97.000000
34,17.000000,9,8,9,77,147756,147756,1.000000,9.000000
35,388.000000,169,139,169,75,49430,49430,1.000000,169.000000
36,332.000000,107,104,107,76,23185,23185,1.000000,107.000000
37,117.000000,51,47,51,75,67742,67742,1.000000,51.000000
38,290.000000,133,120,133,75,26545,26545,1.000000,133.000000
39,40.000000,26,18,26,75,46533,46533,1.000000,26.000000
40,238.000000,131,114,131,68,53450,53450,1.000000,131.000000
41,213.000000,160,134,160,68,39037,39037,1.000000,160.000000
42,138.000000,59,49,59,68,84279,84279,1.000000,59.000000
43,272.000000,88,70,88,68,35921,35921,1.000000,88.000000
44,15.000000,8,8,8,68,60507,60507,1.000000,8.000000
45,491.000000,216,205,216,68,8761,8761,1.000000,216.000000
46,25.000000,0,0,0,68,46679,46679,1.000000,0.000000
47,674.000000,474,402,474,68,68103,68103,1.000000,474.000000
48,194.000000,92,82,92,68,54279,54279,1.000000,92.000000
49,217.000000,157,121,157,38,47973,47973,1.000000,157.000000

In [79]:
dwell_pop_fractioned = dwell_pop
dwell_pop_fractioned['DA_population'] = dwell_pop['DA_population']*dwell_pop['DA Area Fraction']
dwell_pop_fractioned['DA_Total_priv_dwell'] = dwell_pop['DA_Total_priv_dwell']*dwell_pop['DA Area Fraction']
dwell_pop_fractioned['Private_Dwellings_usual_residents'] = dwell_pop['Private_Dwellings_usual_residents']*dwell_pop['DA Area Fraction']
dwell_pop_fractioned = dwell_pop_fractioned.drop('Total_priv_dwell_int', axis=1)
dwell_pop_fractioned.head(60)

,DA_population,DA_Total_priv_dwell,Private_Dwellings_usual_residents,gta06,DA Area,DA Area_2,DA Area Fraction,Total_priv_dwell
0,544.000000,400.000000,337.000000,67,115279,115279,1.000000,400.000000
1,0.000000,0.000000,0.000000,62,50329,50329,1.000000,0.000000
2,0.000000,0.000000,0.000000,80,51075,51075,1.000000,0.000000
3,0.000000,0.000000,0.000000,34,121459,121459,1.000000,0.000000
4,1113.000000,698.000000,654.000000,60,23283,23283,1.000000,698.000000
5,1028.000000,759.000000,698.000000,66,88170,88170,1.000000,759.000000
6,463.000000,422.000000,345.000000,66,82329,82329,1.000000,422.000000
7,0.000000,0.000000,0.000000,66,117201,117201,1.000000,0.000000
8,1042.000000,816.000000,680.000000,65,71845,71845,1.000000,816.000000
9,0.000000,0.000000,0.000000,65,159696,159696,1.000000,0.000000
10,40.000000,16.000000,16.000000,78,118643,118643,1.000000,16.000000
11,372.000000,310.000000,293.000000,34,58670,58670,1.000000,310.000000
12,0.916265,3.744727,3.140563,32,39673,225537,0.175905,121.022378
13,0.000000,0.000000,0.000000,60,56658,56658,1.000000,0.000000
14,0.052773,0.000000,0.000000,57,151499,472661,0.320524,0.000000
15,0.120676,0.000000,0.000000,55,186300,472661,0.394151,0.000000
16,0.003231,0.000000,0.000000,54,75359,472661,0.159436,0.000000
17,0.001256,0.000000,0.000000,56,59503,472661,0.125889,0.000000
18,61.000000,45.000000,45.000000,67,29395,29395,1.000000,45.000000
19,409.000000,316.000000,292.000000,67,28487,28487,1.000000,316.000000
20,445.000000,286.000000,272.000000,67,61107,61107,1.000000,286.000000
21,167.000000,99.000000,84.000000,67,34564,34564,1.000000,99.000000
22,99.000000,40.000000,36.000000,76,108855,108855,1.000000,40.000000
23,59.000000,9.000000,7.000000,75,40624,40624,1.000000,9.000000
24,148.000000,105.000000,103.000000,36,33576,33576,1.000000,105.000000
25,253.000000,92.000000,85.000000,75,77109,77109,1.000000,92.000000
26,123.000000,58.000000,55.000000,75,58181,58181,1.000000,58.000000
27,141.000000,60.000000,55.000000,67,33293,33293,1.000000,60.000000
28,0.000000,0.000000,0.000000,67,81305,81305,1.000000,0.000000
29,687.000000,246.000000,223.000000,76,32229,32229,1.000000,246.000000
30,72.000000,17.000000,16.000000,76,37788,37788,1.000000,17.000000
31,177.000000,52.000000,51.000000,76,34957,34957,1.000000,52.000000
32,23.000000,18.000000,14.000000,76,33025,33025,1.000000,18.000000
33,284.000000,97.000000,94.000000,76,47694,47694,1.000000,97.000000
34,17.000000,9.000000,8.000000,77,147756,147756,1.000000,9.000000
35,388.000000,169.000000,139.000000,75,49430,49430,1.000000,169.000000
36,332.000000,107.000000,104.000000,76,23185,23185,1.000000,107.000000
37,117.000000,51.000000,47.000000,75,67742,67742,1.000000,51.000000
38,290.000000,133.000000,120.000000,75,26545,26545,1.000000,133.000000
39,40.000000,26.000000,18.000000,75,46533,46533,1.000000,26.000000
40,238.000000,131.000000,114.000000,68,53450,53450,1.000000,131.000000
41,213.000000,160.000000,134.000000,68,39037,39037,1.000000,160.000000
42,138.000000,59.000000,49.000000,68,84279,84279,1.000000,59.000000
43,272.000000,88.000000,70.000000,68,35921,35921,1.000000,88.000000
44,15.000000,8.000000,8.000000,68,60507,60507,1.000000,8.000000
45,491.000000,216.000000,205.000000,68,8761,8761,1.000000,216.000000
46,25.000000,0.000000,0.000000,68,46679,46679,1.000000,0.000000
47,674.000000,474.000000,402.000000,68,68103,68103,1.000000,474.000000
48,194.000000,92.000000,82.000000,68,54279,54279,1.000000,92.000000
49,217.000000,157.000000,121.000000,38,47973,47973,1.000000,157.000000
50,284.000000,385.000000,138.000000,38,8838,8838,1.000000,385.000000
51,3040.000000,1990.000000,1704.000000,38,55880,55880,1.000000,1990.000000
52,1190.000000,865.000000,705.000000,51,12707,12707,1.000000,865.000000
53,4141.000000,2769.000000,2333.000000,50,61525,61525,1.000000,2769.000000
54,875.000000,587.000000,468.000000,50,43777,43777,1.000000,587.000000
55,744.000000,192.000000,179.000000,38,11856,11856,1.000000,192.000000
56,746.000000,523.000000,486.000000,38,11845,11845,1.000000,523.000000
57,812.000000,530.000000,487.000000,38,37096,37096,1.000000,530.000000
58,560.000000,361.000000,324.000000,37,17714,17714,1.000000,361.000000
59,0.000000,0.000000,0.000000,79,210751,210751,1.000000,0.000000

In [80]:
dwell_pop_fractioned_per_zone = dwell_pop.groupby('gta06',as_index=False).sum()
dwell_pop_fractioned_per_zone.head()

,gta06,DA_population,DA_Total_priv_dwell,Private_Dwellings_usual_residents,Total_priv_dwell_int,DA Area,DA Area_2,DA Area Fraction,Total_priv_dwell
0,30,25.524255,45.406632,38.080853,688,91144,225537,0.404120,278.034522
1,31,2.512417,7.979457,6.692073,688,51052,225537,0.226358,155.733986
2,32,0.916265,3.744727,3.140563,688,39673,225537,0.175905,121.022378
3,33,1.344666,4.993043,4.187479,688,43666,225537,0.193609,133.203013
4,34,372.000000,310.000000,293.000000,310,180129,180129,2.000000,310.000000

In [82]:
dwell_pop_fractioned_per_zone.to_excel(census_dir+"dwell_pop_grouped_by_zone__revised2.xlsx", index=False)